body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin-bottom: 100px;
}
button{
    float: left;
}


.buy-now-button{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 9px 10px;
    border: none;
    cursor: pointer;
}

.buy-now-button:hover{
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
}

.banner-bg{
    background-color: #e2dfdf;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    font-weight: 600;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    transition: transform 0.5s;
}

.card:hover{
    transform: translateY(-5px);
}
.card-footer{
    background-color: white;
    border-top: none;
    margin-bottom: 10px;
}

.card-title{
    font-weight: 600;
}

.card-text{
    font-size: medium;
    color: rgb(109, 108, 108);
}


.smartphone-section {
    margin-bottom: 50px;
}

.laptop-section{
    margin-bottom: 90px;
}

.category-title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}

.category-title::after{
    content: '';
    background-image: linear-gradient(45deg, orange, #ff523b);
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}

.category-section {
    margin-bottom: 80px;
}

.category-item {
    padding:  20px 20px;
}
